vendor
node_modules
.git
.env
.env.production
storage
storage/*.log
public/storage
tests
.phpunit.cache
.editorconfig
.gitattributes
.gitignore
.phpcs.xml
phpunit.xml
README.md
Makefile
docker-compose.yml
*.sqlite